<div class="center">
  <mat-card class="login-card mat-elevation-z5">
    <h1 style="font-family: 'Lucida Handwriting', sans-serif;">hourly.</h1>
    <br>
    <form #loginForm="ngForm" (ngSubmit)="submitLogin(loginForm)">
      <mat-form-field appearance="fill" style="width: 250px ">
        <mat-label>Email</mat-label>
        <input id="email" name="email" matInput type="email" ngModel>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" style="width: 250px ">
        <mat-label>Password</mat-label>
        <input id="password" name="password" matInput [type]="hide ? 'password' : 'text'" ngModel>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <br>
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      <br>
      <h3 *ngIf="errorMessage" style="color: red;font-weight: bold">{{errorMessage}}</h3>
      <br>
      <button type="submit" mat-button mat-raised-button color="primary">
        Login
        <mat-icon>login</mat-icon>
      </button>
    </form>
  </mat-card>
</div>
