<div class="wrapper">
  <form #addUserForm="ngForm" (ngSubmit)="submitUser(addUserForm)">
    <mat-form-field appearance="fill">
      <mat-label>Full Name*</mat-label>
      <input name="fullName" id="fullName" matInput ngModel>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Email*</mat-label>
      <input name="email" id="email" matInput ngModel>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Password*</mat-label>
      <input type="password" name="password" id="password" matInput ngModel>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Role*</mat-label>
      <mat-select id="role" name="role" ngModel>
        <mat-option *ngFor="let role of availableRoles" [value]="role">
          {{role.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Team*</mat-label>
      <mat-select id="team" name="team" ngModel>
        <mat-option *ngFor="let team of availableTeams" [value]="team">
          {{team.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 90%" class="image_field" appearance="fill">
      <mat-label>Profile Picture</mat-label>
      <label>
        <input matInput readonly value="{{fileInput.value.replace('C:\\fakepath\\','')}}" name="_" ngModel>
      </label>
    </mat-form-field>
    <button class="image_button" mat-flat-button (click)="fileInput.click()" type="button">
      <mat-icon>publish</mat-icon>
      Upload
    </button>
    <input #fileInput hidden type="file" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg"/>
    <br>
    <img class="img" *ngIf="profileImageAsBase64String"
         src="{{'data:image/jpg;base64,' + profileImageAsBase64String}}" alt="image of product">
    <br>
    <br>
    <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
    <br>
    <button type="submit" class="submit_btn" [disabled]="loading" mat-button mat-raised-button color="primary">
      Submit
    </button>
  </form>
</div>
