<sidenav style="position: fixed;height: 100%;z-index:100;"></sidenav>
<toolbar style="position: fixed;width: 100%;z-index:100;"></toolbar>
<div class="app-body">
  <router-outlet></router-outlet>
</div>
