<div class="sidenav">
  <h2 style="font-family: 'Lucida Handwriting', sans-serif;">hourly.</h2>
  <br>
  <a class="side-item" routerLink="/team">All Teams</a>
  <br>
  <a class="side-item" routerLink="/team/add">Create Team</a>
  <br>
  <hr>
  <br>
  <a class="side-item" routerLink="/users">List Users</a>
  <br>
  <a class="side-item" routerLink="/users/add">Add User</a>
  <br>
  <hr>
  <br>
  <a class="side-item" routerLink="/projects/">List Projects</a>
  <br>
  <a class="side-item" routerLink="/projects/add">Add Project</a>
  <br>
  <hr>
  <br>
  <a class="side-item" routerLink="/tasks/assign">Assign Tasks</a>
  <br>
  <a class="side-item" routerLink="/tasks/">View Tasks</a>
  <button mat-button class="logout-btn" (click)="logOut()">Logout</button>
</div>
