.sidenav {
  padding: 50px;
  background: lightgray;
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
}


.side-item:hover {
  
  cursor: pointer;
  color: gray;
}

a {
  color: inherit;
  font-style: normal;
  text-decoration: none;
  font-size: medium;
  display: block;
}

.logout-btn {
  position: absolute;
  bottom: 20px;
}
