<div class="wrapper">
  <form #addTeamForm="ngForm" (ngSubmit)="submitTeam(addTeamForm)">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input name="name" id="name" matInput ngModel>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea rows="10" name="description" id="description" matInput ngModel></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Team Leader</mat-label>
      <mat-select id="leader" name="leader" ngModel>
        <mat-option *ngFor="let admin of admins" [value]="admin">
          {{admin.fullName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="image_field" appearance="fill">
      <mat-label>Cover Picture</mat-label>
      <label>
        <input matInput readonly value="{{fileInput.value.replace('C:\\fakepath\\','')}}" name="_" ngModel>
      </label>
    </mat-form-field>
    <button class="image_button" mat-flat-button (click)="fileInput.click()" type="button">
      <mat-icon>publish</mat-icon>
      Upload
    </button>
    <input #fileInput hidden type="file" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg"/>
    <br>
    <img class="img" *ngIf="coverImageAsBase64String"
         src="{{'data:image/jpg;base64,' + coverImageAsBase64String}}" alt="image of product">
    <br>
    <br>
    <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
    <br>
    <button class="submit_btn" [disabled]="loading" mat-button mat-raised-button color="primary">
      Submit
    </button>
  </form>
</div>
