mat-form-field {
  width: 100%;
}

mat-progress-bar {
  width: 100%;
}

.img {
  width: 70%;
  max-width: 200px;
}

.wrapper {
  margin: 50px
}

.image_field {
  width: 90% !important;
}

.image_button {
  width: 10%;
}

.submit_btn {
  float: right;
  width: 200px
}
