<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>{{data.message}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button style="margin: 0 auto;display: block" color="primary" (click)="doYes()">Ok</button>
  <button mat-button style="margin: 0 auto;display: block" color="accent" (click)="doNo()">Cancel</button>
</div>
