<p class="toolbar">
  <mat-toolbar>
    <span><h2>{{title}}</h2></span>
    <span class="span-spacer"></span>
    <img class="avatar" [src]="appCookiesService.getPictureUrl()">
    <span>{{appCookiesService.getDisplayName()}}</span>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
</p>
