.toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 200px;
}

.span-spacer {
  flex: 1 1 auto;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}
