<br>
<br>
<div *ngFor="let team of teams">
  <div style="float: left">
    <mat-card style="width:250px;  margin-left: 10px;margin-right: 10px;height: 350px;position: relative"
              class="mat-elevation-z5">
      <img style="width: 100%;height: 200px;  object-fit: cover;" src="{{team.coverUrl}}">
      <div style="margin-top: 10px">
        <div style="font-size: large;font-family: 'Segoe UI Semibold'"><a
          routerLink="/team/details/{{team.id}}">{{team.name}}</a></div>
        <div style="font-size: medium">
          <div style="font-family: 'Segoe UI Semibold';display: inline">Leader :</div>
          {{team.leader.fullName}}</div>
        <div style="font-size: medium">
          <div style="font-family: 'Segoe UI Semibold';display: inline">Members :</div>
          {{team.members != null ? team.members.length : 0}}</div>
        <br>
        <p class="text">{{team.description}}</p>
      </div>
      <button mat-icon-button style="position: absolute;bottom: 50px;right: 10px">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" style="position: absolute;bottom: 10px;right: 10px"
              (click)="deleteTeam(team)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card>
    <br>
  </div>

</div>
