<div class="cover_wrapper">
  <img src="{{teamForDetails.coverUrl}}">
  <div class="cover_content">
    <h1>{{teamForDetails.name}}</h1>
    <div style="font-size: medium">
      <div style="font-family: 'Segoe UI Semibold';display: inline">Leader :</div>
      {{teamForDetails.leader.fullName}}</div>
  </div>
</div>
<br>
<br>
<p>{{teamForDetails.description}}</p>
<br>
<div *ngIf="teamForDetails.members!=null&&teamForDetails.members.length>0" class="mat-elevation-z8"
     style="margin-left: 100px;margin-right: 100px">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> Member Full Name</th>
      <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Role</th>
      <td mat-cell *matCellDef="let element"> {{element.role.name}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
