img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cover_wrapper {
  position: relative;

}

.cover_content {
  left: 10px;
  bottom: 10px;
  position: absolute;
}

table {
  width: 100%;
}
